# Ignore everything in the root directory
*
# Now, whitelist anything that's a directory
!*/
# Whitelist the .gitignore file itself (optional but good practice)
!.gitignore

# progs
!*.py
# scratch
_.py

# docs
!*.md

# config
!*.toml
!*.yaml
!.python-version
!uv.lock